<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    
    <!-- specify a package where MyBatis will search for beans -->
    <typeAliases>
        <package name="com.ssm.po"/>
    </typeAliases>
    <!-- Each bean found in com.ssm.po , if no annotation is found, will be registered as an alias using uncapitalized non-qualified class name of the bean. That is com.ssm.po.User will be registered as user -->

    <!-- Set up Environment-->
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}" />
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>
    <!-- Set up Mapper-->
    <mappers>
        <mapper resource="com/ssm/mapper/StudentIdCardMapper.xml" />
        <mapper resource="com/ssm/mapper/StudentMapper.xml" />
        <mapper resource="com/ssm/mapper/BanjiMapper.xml" />
        <mapper resource="com/ssm/mapper/CourseMapper.xml" />
    </mappers>
</configuration>