<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.CourseMapper">
	<!-- many to many -->
	<select id="findCourseWithStudent" parameterType="Integer" resultMap="CourseWithStudentResult">
		select c.*,s.id as sid, s.name as sname, s.sex
		from tb_course c, tb_student2 s, tb_enrolled e
		where e.course_id=c.id and e.student_id=s.id and c.id=#{id}
	</select>
	<resultMap type="Course" id="CourseWithStudentResult">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
		<collection property="studentList" ofType="Student2">
			<id property="id" column="sid"/>
			<result property="name" column="sname"/>
			<result property="sex" column="sex"/>
		</collection>
	</resultMap>
</mapper>