<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.StudentMapper">
	<!-- Nested Select -->
	<select id="findStudentById" parameterType="Integer" resultMap="StudentIdCardWithStudentResult">
		select * from tb_student where id=#{id}
	</select>
	<resultMap type="Student" id="StudentIdCardWithStudentResult">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="sex" column="sex"/>
		<!-- one to one mapping, association using select to introduce another SQL query -->
		<association property="studentIdCard" column="card_id" javaType="StudentIdCard"
			select="com.ssm.mapper.StudentIdCardMapper.findStudentIdCardById"/>
	</resultMap>

	<!-- Nested Result -->
	<select id="findStudentById2" parameterType="Integer" resultMap="StudentIdCardWithStudentResult2">
		select s.*,sidcard.code
		from tb_student s, tb_studentidcard sidcard
		where s.card_id=sidcard.id and s.id=#{id}
	</select>
	<resultMap type="Student" id="StudentIdCardWithStudentResult2">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="sex" column="sex"/>
		<!-- One-to-one mapping of database table fields and class attributes -->
		<association property="studentIdCard" javaType="StudentIdCard">
			<id property="id" column="card_id" />
			<result property="code" column="code" />
		</association>
	</resultMap>
</mapper>