<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
					    
    <!-- Configure specific Class to Spring, and let Spring to create the object Instance -->
    <bean id="userDao" class="com.ssm.ioc_di.UserDaoImpl"/>
    <bean id="userService" class="com.ssm.ioc_di.UserServiceImpl">
    	<property name="userDao" ref="userDao"/>
    </bean>
    
</beans>