<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.UserMapper">
    <!-- <if> element-->
    <select id="findUserByNameAndJobs" parameterType="com.ssm.po.User" resultType="com.ssm.po.User">
        select * from t_user
        <where>
            <if test="username !=null and username !=''">
                and username like concat('%',#{username},'%')
            </if>
            <if test="jobs != null and jobs !=''">
                and jobs=#{jobs}
            </if>
        </where>
    </select>
    <!-- <choose> (<when>,<otherwise>)-->
    <select id="findUserByNameOrJobs" parameterType="com.ssm.po.User" resultType="com.ssm.po.User">
        select * from t_user where 1=1
        <choose>
            <when test="username != null and username !=''">
                and username like concat('%',#{username},'%')
            </when>
            <when test="jobs != null and jobs !=''">
                and jobs=#{jobs}
            </when>
            <otherwise>
                and phone is not null
            </otherwise>
        </choose>
    </select>
    <update id="updateUserBySet" parameterType="com.ssm.po.User">
        update t_user
        <set>
            <if test="username !=null and username !=''">
                username=#{username},
            </if>
            <if test="jobs != null and jobs !=''">
                jobs=#{jobs},
            </if>
            <if test="phone != null and phone !=''">
                phone=#{phone},
            </if>
        </set>
        where id=#{id}
    </update>
    <!-- <foreach> element -->
    <select id="findUserByIds" parameterType="List" resultType="com.ssm.po.User">
        select * from t_user where id in
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <!-- <bind> element -->
    <select id="findUserByName2" parameterType="com.ssm.po.User" resultType="com.ssm.po.User">
        <!-- _parameter.getUsername() also can be written as field name, e.g., username-->
        <bind name="p_username" value="'%'+_parameter.getUsername()+'%'"/>
        select * from t_user where username like #{p_username}
    </select>
</mapper>